<form action="/config/api-key" method="POST">
  <p>
    <a href="/">Back to main page</a>
  </p>
  <p>
    Please enter your API key. See <a href="https://apidocs.verkada.com/reference/quick-start-guide">here</a> for instructions on generating an API key<br>
  </p>
  <p>
    <b>Note:</b> Your API key must have the <b>read</b> permission for the Core Command API and <b>read/write</b> permission for the Helix API.
  </p>
  <label type="text" for="api_key">API Key:</label>
  <input type="text" id="api_key" name="api_key"><br>
  <input type="submit" value="Submit">
</form>