<div class="card">
  <div class="card-header">
    <h2 class="h4 mb-0">Configure Device Mappings</h2>
  </div>
  <div class="card-body">
    <a href="/" class="btn btn-outline-secondary mb-4">Back to main page</a>

    <form action="/config/device-mappings" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="config_file" class="form-label">Upload your device mappings config here:</label>
        <input type="file" class="form-control" id="config_file" name="config_file" accept=".csv" required>
      </div>
      <button type="submit" class="btn btn-primary">Upload Config</button>
    </form>

    <div class="alert alert-info mt-4">
      The Verkada Data Translator will use this file to map each device to a nearby context camera.
      For more information on the device mappings configuration format, see <a href="/help/device-mappings">here</a>.
    </div>
  </div>
</div>